{{ ansible_managed | comment }}

{% set oh_my_zsh = user.oh_my_zsh|default({}) %}

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

{% if zsh_prompt_preference == 'p10k' %}
# Set the Powerlevel10k theme
ZSH_THEME="powerlevel10k/powerlevel10k"
{% else %}
# Set the Oh My Zsh theme (if not using P10k or Starship)
ZSH_THEME="{{ oh_my_zsh.theme | default(oh_my_zsh_theme) }}"
{% endif %}

# ... (OMZ update configuration as before) ...

plugins=({{ oh_my_zsh.plugins | default(oh_my_zsh_plugins) | join(' ') }})

source $ZSH/oh-my-zsh.sh

# ... (rest of your Zsh config) ...

{% if zsh_prompt_preference == 'starship' %}
# --- Starship Prompt ---
# Requires Starship binary installed
export STARSHIP_CONFIG=~/.config/starship.toml
eval "$(starship init zsh)"
{% endif %}